* {
		margin: 0;
		padding: 0;
		}
body #container{
		width:1000px;
		margin:3 auto;
		background-color:fuchsia;
		}
h1{		font:28pt 'Matura MT Script Capitals';
		text-decoration:none;
		color:red;
		}
		.blink {
        -webkit-animation: blink .75s linear infinite;
        -moz-animation: blink .75s linear infinite;
        -ms-animation: blink .75s linear infinite;
        -o-animation: blink .75s linear infinite;
        animation: blink .75s linear infinite;
        color: #F00;
        font-weight: bold;
    }
    
    @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    
    @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    
    @-ms-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    
    @-o-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    
.Judul{	font:20pt 'algerian';
		color:#669900;
		}
#header{
		background-image:url(image/2.gif);
		background-repeat:no-repeat;
		background-position:right;
		background-color:fuchsia;
		width:1000px;
		height:150px;
		}

* { margin:0;
	padding:0;
	}
	
	
body{ 
		background-image:url("image/uy.jpg");
		color:#666;
		font:12px Tahoma;
		}
		
#menu {	
		margin-top:40px;
		margin-left:200px;
		width:700px;
		background:url(image_menu/menu_41_bg.jpg) no-repeat;
		height:55px;
		}
#menu ul {
			list-style:none;
			text-align:center;
			}
#menu li {
			list-style:none;
			display:block;
			float:left;
			padding:8px 30px 0 30px;
			}
#menu li a {
			display :block;
			float:left;
			}
#menu li span {
				display :none;
				}
#menu li a:hover {
					text-decoration:none;
					}
#menu li  a.homeaktif {
					background:url(image_menu/home.jpg) no-repeat;
					width:55px;
					height:32px;
					}
#menu li  a:hover.homeaktif {
					background:url(image_menu/home_h.jpg) no-repeat;
					width:55px;
					height:32px;
					}
#menu li  a.about {
					background:url(image_menu/about.jpg) no-repeat;
					width:80px;
					height:32px;
					}
#menu li  a:hover.about {
					background:url(image_menu/about_h.jpg) no-repeat;
					width:80px;
					height:32px;
					}
#menu li  a.services {
					background:url(image_menu/services.jpg) no-repeat;
					width:80px;
					height:32px;
					}
#menu li  a:hover.services{
					background:url(image_menu/services_h.jpg) no-repeat;
					width:80px;
					height:32px;
					}
#menu li  a.solutions {
					background:url(image_menu/solutions.jpg) no-repeat;
					width:90px;
					height:32px;
					}
#menu li  a:hover.solutions{
					background:url(image_menu/solutons_h.jpg) no-repeat;
					width:80px;
					height:32px;
					}
#menu li  a.contact {
					background:url(image_menu/contact.jpg) no-repeat;
					width:95px;
					height:32px;
					}
#menu li  a:hover.contact{
					background:url(image_menu/contact_h.jpg) no-repeat;
					width:80px;
					height:32px;
					}
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Andalus", Andalus,Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

#sidebar 	{
			line-height:30px;
			background-color:#40E0D0;
			height:650px;
			width:400px;
			float:right;
			padding:5px;
			text-align:center;
		}
		.profile-sidebar {
  position: relative;
  width: 142px;
  float: left;
}

.profile {
  background: #f6f6f6;
  float: left;
  padding: 4px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.avatar img {
  display: block;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.follow button {
  display: block;
  width: 100%;
  border: 0;
  background: #D74937;
  color: white;
  padding: 7px 39px;
  margin: 0;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.follow button i {
  font-size: 10px;
  color: #FFFFFF;
}

.follow button:hover {
  background: rgba(214,73,56,0.5);
}

.follow button:active {
  background: #2085d6;
}

.profile-list {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  color: #767b7e;
  font-size: 13px;
}

.profile-list li {
  cursor: pointer;
  background: #ffffff;
  border-top: 1px solid #e5e6e6;
  padding: 15px 10px;
}

.profile-list li:last-child {  
  border-radius: 0 0 3px 3px;;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

.profile-list li [class^="icon-"] {
  margin: 0 3px 0 0;
}


.profile-list .profile {
  border-radius: 3px 3px 0 0;
  position: relative;
}

.profile-list li {
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(250px) rotateX(-90deg);
  -o-transform: perspective(250px) rotateX(-90deg);
  transform: perspective(250px) rotateX(-90deg);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.profile-list .first {
  -webkit-transition: 0.2s linear 0.8s;
  -o-transition: 0.2s linear 0.8s;
  transition: 0.2s linear 0.8s;
}

.profile-list .first:hover {
  background-color: #4B6DAA;
  color: #fff;
}

.profile-list .second {
  -webkit-transition: 0.2s linear 0.6s;
  -o-transition: 0.2s linear 0.6s;
  transition: 0.2s linear 0.6s;
}

.profile-list .second:hover {
  background-color: #2EACF6;
  color: #fff;	
}

.profile-list .third {
  -webkit-transition: 0.2s linear 0.4s;
  -o-transition: 0.2s linear 0.4s;
  transition: 0.2s linear 0.4s;
}

.profile-list .third:hover {
  background-color: #C70704;
  color: #fff;	
}

.profile-list .fourth {
  -webkit-transition: 0.2s linear 0.2s;
  -o-transition: 0.2s linear 0.2s;
  transition: 0.2s linear 0.2s;
}

.profile-list .fourth:hover {
  background-color: #007AB5;
  color: #fff; 	
}

.profile-sidebar:hover .profile {
  border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}

.profile-sidebar:hover .profile-list li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}

.profile-sidebar:hover .profile-list .second {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.profile-sidebar:hover .profile-list .third {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.profile-sidebar:hover .profile-list .fourth {
  transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

#figure {
			float: right;
width: 10px;
height: 1px;
padding: 5px;
margin: 20px;
border: 1px solid #eeeeee;}
			}	
			
#nav          {	margin: 0px;
padding: 5px 0px 5px 30px;
}
section.courses {
float: left;
width: 659px;
border-right: 1px solid #eeeeee;
}	

#body{
            background-color:#16a085;
			width:600px;
			height:650px;
			float:left;
			padding:10px;
			color:maroon;
			font-family:harrington;
			font-size:120%;
		}
